.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #13335f;
  height: 4rem;
}
.nav-ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-ul li {
  color: rgb(255, 255, 255);
  list-style-type: none;
  text-decoration: none !important;
  font-size: 1.2rem;
}
