.footer-container {
  background-color: #020a15;
  height: 4rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container h2 {
  font-size: 1rem;
}
